/app/logs
/app/*.log
/app/npm-debug.log*

/app/pids
/app/*.pid
/app/*.seed

/app/lib-cov

/app/coverage

/app/.nyc_output

/app/.grunt

/app/.lock-wscript

/app/build/Release

/app/node_modules
/app/jspm_packages

/app/.npm

/app/.node_repl_history
/app/.next

app/.next
.next/cache/
/app/dist
/api/dist

/DB/sql_data
/DB/mongoDB_data