/logs
/*.log
/npm-debug.log*

/pids
/*.pid
/*.seed

/lib-cov

/coverage

/.nyc_output

/.grunt

/.lock-wscript

/build/Release

/node_modules
/jspm_packages

/.npm

/.node_repl_history
/.next

app/.next
.next/cache/
/dist
/api/dist

/DB/sql_data
/DB/mongoDB_data
node_modules
